<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.kabirnayeem99.v2_survey">

    <application>
        <activity
            android:name=".HiltTestActivity"
            android:exported="false" />
    </application>

</manifest>